<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/bootstrap.css"/>
<script type="text/javascript" src="/js/admin.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>

	
<body>

<nav class="topnav" th:fragment="header">

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="fas fa-home fa-2x" style="text-decoration: none"></a></li>
					<li><div class="input-group mb-3" style="margin-left: 20px">
					  <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
					  <div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
					  </div>
					</div></li>
                </ul>

                <!--
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search...">
                </form>
                -->
                <div class="text-end" style="display: inline;">
					<div class="btn-group" role="group" aria-label="Basic example">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button"
                       class="btn btn-primary" style="border-color: #1DA1F2;color: white;opacity: 1;border-bottom-left-radius: 20px;border-top-left-radius: 20px;">Login</a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/register}" type="button"
                       class="btn btn-primary" style="border-color: #1DA1F2;color: white;opacity: 1;border-bottom-right-radius: 20px;border-top-right-radius: 20px;">Register</a>
                    </div>
					<a sec:authorize="isAuthenticated()" th:href="@{poll}" class="fas fa-poll fa-2x" style="margin-right: 10px"></a>
					<a sec:authorize="isAuthenticated()" th:href="@{messaging}" class="fas fa-comments fa-2x" style="margin-right: 10px"></a>
					<div class="dropdown" style="float:right;">
						  <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 sec:authorize="isAuthenticated()" 
							 style="text-decoration: none">
							<img src="icons/avatar.png" alt="avatar" style="border-radius: 50%!important;width: 42px">
						  </a>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #212529">
							
							<a class="dropdown-item" href="#">Profile</a>
							  <a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="#">Dark Mode<label class="switch" for="checkbox" style="vertical-align: -50%;margin-left: 7%"><input type="checkbox" id="checkbox" /><div class="slider round"></div></label></a>
							 <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin_panel.html}" type="button" class="dropdown-item">Admin Panel</a>
							<a class="dropdown-item" href="@{/logout}">Logout</a>
						  </div>
					</div>
                </div>
            </div>
        </div>
    </header>
</nav>
</body>
</html>