<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script type="text/javascript" th:src="@{/js/admin.js}"></script>

<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>

<head th:fragment="header">
  <meta charset="UTF-8">
  <title th:text="${club.getId()}"></title>
</head>
<body>

<div th:replace="fragments/navbar :: header"/>

<div class="container" style="border-style: groove;margin: auto;width: 60%;border-radius: 10px">
  <div class="col-sm-8">
    <div class="input-group">
      <form th:action="@{/process_edit_club}" method="post" th:object="${cer}">
        <input  class="form-control" placeholder="new club title" type="text" th:field="*{title}">
        <input type="hidden" th:field="*{id}" id="postId">
      </form>
    </div>
  </div>
</div>
</body>
</html>