<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

  <title>Club-8 | Login</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<script type="text/javascript" th:href="@{/js/admin.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>
</head>
<div th:replace="fragments/navbar :: header"></div>

<body class="text-center" >
  <main class="form-signin" style="margin-top: 150px">
    <form name="f" th:action="@{/login}" method="post" style="width: 30%;margin: auto">
      <fieldset>
      <h1 class="h1 mb-3 fw-normal">Login</h1>
      <div th:if="${param.error}" class="alert alert-error">
        Invalid username and password.
      </div>
      <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="username" name="username">
        <label for="username">Username</label>
      </div>
        <br>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        <label for="password">Password</label>
      </div>
	<br>
      <div class="checkbox mb-3" style="text-align: left;">
        <label style="text-align: left;color: #F5F8FA;">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
		  <a href="a" style="float: right;color: lightblue!important">forgot password?</a>
      </div>
        <span id="captchaError" class="alert alert-danger col-sm-4"
          style="display:none"></span>
      <div class="form-actions">
      <button class="w-100 btn btn-lg btn-primary" id="btnfetch" type="submit" style="width: 10%;">Sign in</button>
      </div><br>
	<p style="display: inline">Not registered?
		<a th:href="@{/register}" style="color: lightblue!important;margin-left: 10px">Create an account</a></p>
      </fieldset>
    </form>
  </main>
</body>

</html>