<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"/>

<head th:fragment="header">
    <meta charset="UTF-8">
    <title>
        Admin Panel
    </title>
</head>

<div th:replace="fragments/navbar :: header"></div>
<body>
<div class="container">
    <div>
        <br><h2 style="text-align: center">Create Post</h2><br>
    </div>
    <form th:action="@{/process_add_post}" method="post" th:object="${pcr}" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" th:field="*{title}" required
                       minlength="2" maxlength="128"/>
                </div>
                <div class="col">
                    <label for="subClub">SubClub</label>
                    <select class="form-select" id="subClub" style="width: 40%;" th:field="*{subclubTitle}">
                        <option th:each="subclub : ${subclubList}" th:value="${subclub}" th:text="${subclub}"></option>
                    </select>
                </div>
                <div class="col">
                    <label for="subClub">SubClub</label>
                    <select class="form-select" id="club" style="width: 40%;" th:field="*{clubTitle}">
                        <option th:each="club : ${clubList}" th:value="${club}" th:text="${club}"></option>
                    </select>
                </div>
                </div>
                <div class="row">
                    <label for="postArea">Content</label>
                    <textarea class="form-control" id="postArea" rows="8" cols="24" style="width: 70%"
                              th:field="*{content}" required></textarea>
                </div><br>
                <input type="file" name="subclubImageFile" th:field="*{postImage}">
                <div class="row">
                    <button type="submit" class="btn btn-primary"
                                          style="alignment: right;width: 10%">Create Post</button>
                </div>
    </form>
</div>
</body>
</html>