<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>
<style>
	h5 {
		color: black!important;
	}
	body {
    background: #212529;
    background: -webkit-linear-gradient(to right, #212529, #323E4E);
    background: linear-gradient(to right, #212529, #323E4E);
    min-height: 100vh;
}
	</style>
<head>
    <meta charset="UTF-8">
    <title th:text="username"></title>
</head>
<body>
<header><div th:replace="fragments/navbar :: header"></div></header>
	<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3"><img th:src="@{/icons/avatar.png}" alt="..." width="130" class="rounded mb-2 img-thumbnail" style="margin-top: 20%">
						</div>
                    <div class="media-body mb-5 text-white" style="margin-left: 50px"><p>
                        <h4 class="mt-0 mb-0" style="float: center;">Name Surname</h4>
                        <p class="small mb-4" style="float: center; "><i class="fa fa-map-marker mr-2"></i>Ankara</p></p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Posts</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-heart mr-1"></i>Likes</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">

                
                <div class="py-4">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0" style="color: black!important">Recent post</h5><a href="#" class="btn btn-dark">Show all</a>
                </div>
                    <div class="p-4 bg-dark rounded shadow-sm">
                        <p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                            <li class="list-inline-item"><a href="post" style="color: black;"><i class="fa fa-comment-o mr-2"></i>12 Comments</a></li>
                            <li class="list-inline-item"><a href="post" style="color: black;"><i class="fa fa-heart-o mr-2"></i>200 Likes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- End profile widget -->

    </div>
</div>

</body>
</html>