<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <title>Club-8 | Register</title>
	
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>
</head>
<div th:replace="fragments/navbar :: header"></div>
<body>
<main class="form-signin" style="margin-top: 50px;">
    <form th:action="@{/process_register}" method="post" th:object="${member}" style="width: 30%;margin: auto">
        <fieldset>
            <h1 class="h1 mb-3 fw-normal" style="text-align: center">Register</h1>
			    <div th:if="${error != null}">
        <div class="alert alert-error" role="alert" style="text-align:center">
            [[${error}]]
        </div>
    </div>
    <div th:if="${message != null}">
        <div class="alert alert-success" role="alert" style="text-align:center">
            [[${message}]]
        </div>
    </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="username" name="username"
                       th:field="*{username}" required minlength="4" maxlength="45">
                <label for="username">Username</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                       th:field="*{password}" required
                       minlength="6" maxlength="64"/>
                <label for="password">Password</label>
            </div><br>
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="email" name="email"
                       th:field="*{emailAddress}" required minlength="5" maxlength="45"/>
                <label for="email">E-mail Address</label>
            </div><br>
            <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="name" name="name"
                       th:field="*{name}" required minlength="2" maxlength="20">
                <label for="name">Name</label>
            </div><br>
            <div class="form-floating">
                <input type="text" class="form-control" id="surname" placeholder="surname" name="surname"
                       th:field="*{surname}" required minlength="1" maxlength="20">
                <label for="surname">Surname</label>
            </div><br>
            <div class="form-floating">
                <input type="date" class="form-control" id="birthDate" placeholder="birthDate" name="birthDate"
                       th:field="*{birthDate}"/>
                <label for="birthDate">BirthDate</label>
            </div><br>
            <div class="form-floating">
                <select class="form-select" id="gender" th:field="*{gender}">
                    <option selected value="">I prefer not to say</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-binary">Non-binary</option>
                </select>
                <label for="gender">Gender</label>
            </div><br>
            <div class="checkbox mb-3">
                <label style="text-align: left">
                    <input type="checkbox" value="remember-me">  <a href="google.com"> I agree to the terms & conditions</a>
                </label>
            </div>
			<br>
            <div class="form-actions">
                <button class="w-100 btn btn-lg btn-primary" id="btnfetch" type="submit" style="width: 10%;">Sign up</button>
            </div>
        </fieldset>
    </form>
</main>
</body>

</html>