<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script type="text/javascript" src="../static/js/admin.js"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<script type="text/javascript" th:href="@{/js/admin.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>

<style>
  .center_div{
    margin: 0 auto;
    width:80%
  }

</style>
<head>
  <meta charset="UTF-8">
  <title>Requests | Club-8</title>
</head>
<body>
<header><div th:replace="fragments/navbar :: header"></div></header>
<div class="col-8 text-center" style="margin-top: 100px" id="add_subClub_id">
  <div>
    <h1 style="margin-bottom: 30px">Create SubClub Request</h1>
  </div>
  <form th:action="@{/process_submit_request}" method="post" th:object="${scr}">
    <div class="form-floating" style="width: 40%; margin: auto;text-align: center">
      <input type="text" class="form-control" id="subtitle" placeholder="name" th:field="*{title}">
      <label>SubClub Title</label><br>
      <div class="form-floating">
        <select class="form-select" id="clubTitle" th:field="*{clubTitle}">
          <option th:each="club : ${clubs}" th:value="${club}" th:text="${club}">
          </option>
        </select>
        <label for="clubTitle">Club Title</label>
      </div><br>
      <button type="submit" class="btn btn-primary" style="display: inline">Submit Request</button>
    </div>
  </form>
</div>

</body>
</html>