<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover">
    <caption>Subclubs</caption>
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Club</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="subclub: ${listSubclubs}">
        <td th:text="${subclub.title}"></td>
        <td th:text="${subclub.club}"></td>
    </tr>
    </tbody>
</table>
<table class="table table-hover">
    <caption>Members</caption>
    <thead class="thead-dark">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member: ${listMembers}">
        <td th:text="${member.username}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.surname}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>