<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"><link/>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>

<style>
	body {

    background: #212529;
    background: -webkit-linear-gradient(to top, #212529, #323E4E);
    background: linear-gradient(to top, #212529, #323E4E);
    min-height: 100vh;
}
	li {
		margin-top: 20px;
	}

</style>
<head>
    <meta charset="UTF-8">
    <title th:text="username"></title>
</head>
<body>
<header><div th:replace="fragments/navbar :: header"></div></header>
<div sec:authorize="!hasRole('ROLE_ADMIN')">
<div class="col-12 col-md-8">
<div th:each="event : ${events}" class="row d-none d-md-block d-lg-block" style="">
	<a th:href="'/events/' + ${event.getId} + '/'" style="text-decoration: none;display: block;width: 100%">
		<div style="display: inline;">
			<img th:src="@{icons/avatar.png}" alt="avatar" style="border-radius: 50%!important;width: 28px;margin-left: 1%;float:left;">
			<b style="color: #F5F8FA;margin-left: 1%;font-size: 80%;float: left;" th:text="${event.getSubclub().getClub().getTitle()} + '/' + ${event.getSubclub().getTitle()}"></b>
			<p style=""><i class="fa fa-calendar-o" style="float: right;padding-left: 1.5%"></i></p><p class="eventinfo" style="float: right;font-size: 80%;"><i th:text="${event.getDate()}">
		</i></p>
			<i class="fas fa-map-marker-alt" style="float: right;padding-left: 1.5%;padding-right: 1.5%"></i><p class="eventinfo" style="float: right;font-size: 80%;padding-right: 0.5%"><i th:text="${event.getLocation()}"> </i></p>
		</div>
		<p style="padding-top: 15%;padding-left: 1%;margin-left: 12%;font-size: 80%" th:text="${event.getContent()}"></p></a><hr style="color:#AAB8C2"/>
</div>
</div>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
	<div class="col-12 col-md-8">
		<div th:each="event : ${allEvents}" class="row d-none d-md-block d-lg-block" style="">
			<a th:href="'/events/' + ${event.getId} + '/'" style="text-decoration: none;display: block;width: 100%">
				<div style="display: inline;">
					<img th:src="@{icons/avatar.png}" alt="avatar" style="border-radius: 50%!important;width: 28px;margin-left: 1%;float:left;">
					<b style="color: #F5F8FA;margin-left: 1%;font-size: 80%;float: left;" th:text="${event.getSubclub().getClub().getTitle()} + '/' + ${event.getSubclub().getTitle()}"></b>
					<p style=""><i class="fa fa-calendar-o" style="float: right;padding-left: 1.5%"></i></p><p class="eventinfo" style="float: right;font-size: 80%;"><i th:text="${event.getDate()}">
				</i></p>
					<i class="fas fa-map-marker-alt" style="float: right;padding-left: 1.5%;padding-right: 1.5%"></i><p class="eventinfo" style="float: right;font-size: 80%;padding-right: 0.5%"><i th:text="${event.getLocation()}"> </i></p>
				</div>
				<p style="padding-top: 15%;padding-left: 1%;margin-left: 12%;font-size: 80%" th:text="${event.getContent()}"></p></a><hr style="color:#AAB8C2"/>
		</div></div>
</div>
</body>
</html>