<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script type="text/javascript" src="../static/js/admin.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script src="https://kit.fontawesome.com/1cd3ed33b5.js" crossorigin="anonymous"></script>

<style>
	body {
		
    background: #212529;
    background: -webkit-linear-gradient(to bottom, #212529, #323E4E);
    background: linear-gradient(to bottom, #212529, #323E4E);
    min-height: 100vh;
}
	li {
		margin-top: 20px;
	}

</style>
<head>
    <meta charset="UTF-8">
    <title th:text="${hpr.getPost().getSubclub().getClub().getTitle()} + '/' + ${hpr.getPost().getSubclub().getTitle()}"></title>
</head>
<body>
<header><div th:replace="fragments/navbar :: header"></div></header>

	<div class="container fader" style="padding: 5%;">
		<div class="row">
	<div class="col-9" style="float: left; margin-left: 15%; cursor: pointer;border: solid ;border-width: 1px;border-color: #2F3336;padding-top: 1%;padding-left: 1%;padding-right: 1%;background-color: #16161D;">
                <div class="post-heading" style="margin: 10px 10px -10px">
                        <div style="display: inline;">
    						<a style="text-decoration: none" th:href="@{'/clubs/' + ${hpr.getPost().getSubclub().getClub().getTitle()}}"><h6 style="float: left;color:#657786" th:text="'/' + ${hpr.getPost().getSubclub().
    						getClub().getTitle()}"></h6></a>
								<a style="text-decoration: none" th:href="@{'/clubs/' + ${hpr.getPost().getSubclub().getClub().getTitle()} + '/' +
								 ${hpr.getPost().getSubclub().getTitle()}}"><h6 style="float: left;color:#657786" th:text="'/' +
								 ${hpr.getPost().getSubclub().getTitle()}">subclub</h6></a>
    						<h6 style="float: right!important;color:#657786" th:text="${hpr.getPost().getDate()}">01/02</h6>
							<p><br /></p>
						<a href="#userpage" style="text-decoration: none" >
							<img src="../static/icons/avatar.png" alt="avatar" style="border-radius: 50%!important;width: 64px">
                            <b style="color: #F5F8FA; vertical-align: 20%;margin-left: 2%;font-size: 20pt" th:text="${hpr.getPost().getMember().getUsername()}">User</b></a>
					</div>
                </div>
              
                <div class="post-description" style="overflow-wrap: break-word;z-index: 1">
                    <p style="color: rgb(217, 217, 217);padding-top: 30px;padding-left: 11%;margin-right: 75px;margin-bottom: 30px" th:text="${hpr.getPost().getContent()}"></p>
					<div class="el">
					<img class="" src="../static/icons/img.jpg" alt="ContentImg" style="margin-left: 30px;border-radius: 10px;background-size: cover;object-fit: cover"/></div>
					<div class="post-footer" style="margin-top: 3%;">
                    <div class="input-group" style="display: inline-block;padding-left: 15%;">
                        	
                            <a href="like_post" onClick="fill(this)" class="far fa-heart fa-2x" style="float: left;font-size: 150%"></a> 
							<a style="float:left;font-size:medium;padding-left: 2%;padding-top: 0.2%;color: #657786;text-decoration: none" th:text="${hpr.getLikes()}"></a>
                            <a onClick="fill(this)" class="far fa-comment fa-2x" style="float: left;padding-left: 30%;font-size: 150%"></a>
							<a style="float:left;font-size:medium;padding-left: 2%;padding-top: 0.2%;color: #657786;text-decoration: none" th:text="${hpr.getComments()}"></a>
							<i onClick="fill(this); clip('#postlink');" id="share_ico" class="far fa-share-square fa-2x popup" style="float: left;padding-left: 30%;font-size: 150%">
								<span class="popuptext fade" id="clipboard">Copied to Clipboard</span></i>
                    </div>
                </div>
                </div>
                
            <p style="line-height: 0.05"><br></p>
        
		</div></div>
        <div class="row">
            <div class="col-9" style="float: left; margin-left: 15%;border: solid ;border-width: 1px;border-color: #2F3336;padding-top: 1%;padding-left: 1%;padding-right: 10%;background-color: #16161D;display: inline-block;">
            <div class="form-floating" style="width: 100%;margin: auto; text-align: center;margin-top: 20px;margin-left: 5%;display: inline-block" >
                <form th:action="@{/process_add_comment}" method="post" th:object="${ccr}">
                    <input type="hidden" th:field="*{id}" id="postId">
                    <input type="text" class="form-control" id="comment" placeholder="Leave a comment" th:field="*{content}" style="background-color: inherit;color:aliceblue;width: 80%;">
                    <label for="comment" style="color:aliceblue;">Comment</label>
                    <button type="submit" class="btn btn-secondary" style="height: 50px;width: 100px;display: inline-block;float:right;margin-top: -50px;margin-bottom: 20px"><i class="fas fa-paper-plane"></i></button>
                </form>

            </div>
        </div>
        </div>
		<div class="row">
			<div class="col-9" style="float: left; margin-left: 15%; cursor: pointer;border: solid ;border-width: 1px;border-color: #2F3336;padding-top: 1%;padding-left: 1%;padding-right: 10%;background-color: #16161D">
				
				<br><h4 style="margin-left: 30px">Comments</h4><br>
				<div th:each="comment :${comments}" >
					<div class="card post" style="background-color: inherit; margin-left: 5%; cursor: pointer;border: solid ;border-width: 1px;border-color: #2F3336;padding-top: 1%;padding-left: 1%;padding-right: 10%;background-color: #16161D;margin-bottom: 20px">
                <div class="post-heading" style="margin-top: 3%">
                    <div class="float-left image">
                        <img th:src="@{/icons/avatar.png}" class="img-circle avatar" alt="user profile image" style="width: 50px;border-radius: 50%">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#" style="margin: 10px;"><b th:text="${comment.getMember().getUsername()}"></b></a>
                        </div>
                        
                    </div>
					<h6 class="text-muted time" style="float: right;" th:text="${comment.getTimestamp()}"></h6>
                </div> 
                <div class="post-description" style="margin-left: 60px"> 
                    <p th:text="${comment.getContent()}"></p>
                </div>
            	</div>	
			</div>
		</div>
	</div>
	
	
	
</div>
	
</body>
</html>